---
---

@import "{{ site.theme }}";

.skillshopsBanner {
  font-family: lobster;
  color:#dedede;
  font-size: 25vw;
  position: fixed;
  margin: 0;
  padding: 0;
  text-shadow: 8px 8px 4px rgba(0,0,0,0.15);
  transform: rotate(-2deg);
  z-index: -1;
}
