---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto:300,400,500,700,900&display=swap');

body {
  background-image: url("../../images/cuttingBoard.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #ddd;
}

a {
  color: #f8e71a;
}

a small {
  color: #fff7a0;
}

.backdrop {
    position: fixed;
    font-family: lobster;
    color: rgba(255,255,255,0.3);
    font-size: 15vw;
    z-index: -1;
    text-shadow: 2vw 2vw 3px rgba(0,0,0,0.1);
    transform: rotate;
    transform: rotate(-2deg);
    text-align: center;
    width: 100%;
}
